# Dependencies
node_modules
package-lock.json

# Environment variables
.env.production
.env.local
.env.*.local

# Build output
dist
build
.vite

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
.env.Thumbs.db

